<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  <!--//TODO Add CSS, and headers.-->
    <title>Vexor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="../../public/css/halfmoon.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/halfmoon-variables.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/all.css"/>
    <script src="../../public/js/halfmoon.js"></script>
    <script src="../../public/js/jquery.js"></script>
    
    <!--Registering Modal-->
    <div class="modal" id="modal-1" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <h5 class="modal-title">Cookies</h5>
      <p>
        We use cookies to improve the user experience
      </p>
      <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
        <a href="#" class="btn btn-primary" role="button">I understand</a>
      </div>
    </div>
  </div>
</div>
<a style="display: none" href="#modal-1" id="owo"></a>
<script type="text/javascript">    
    $(document).ready(function(){
    window.setTimeout(function(){
        var link = document.getElementById("owo").href;
        var newTab = window.open(link);
    }, 5000);
});
    });
</script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>