<div
    class="page-wrapper with-navbar">
    <!-- Navbar (immediate child of the page wrapper) -->
    <nav
        class="navbar">
        <!-- Navbar content (with toggle sidebar button) -->
        <div class="navbar-content"></div>
        <!-- Navbar brand -->
        <a href="#" class="navbar-brand">
            <img src="../public/images/logooooggoo.png" alt="Vexor">
            Vexor
        </a>
        <!-- Navbar text -->
        <span class="navbar-text text-monospace">v3.0</span>
        <!-- text-monospace = font-family shifted to monospace -->
        <!-- Navbar nav -->
        <ul
            class="navbar-nav d-none d-md-flex">
            <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
            <li class="nav-item active">
                <a href="#" class="nav-link">Main</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Shop</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Forums</a>
            </li>
        </ul>
        <!-- Navbar form (inline form) -->
        <button class="btn btn-primary" type="submit" onclick="">Sign up</button>
        <!-- Navbar content (with the dropdown menu) -->
        <div
            class="navbar-content d-md-none ml-auto">
            <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            <div class="dropdown with-arrow">
                <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
                    Menu
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div
                    class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
                    <!-- w-200 = width: 20rem (200px) -->
                    <a href="#" class="dropdown-item">Main</a>
                    <a href="#" class="dropdown-item">Shop</a>
                    <a href="#" class="dropdown-item">Forums</a>
                    <a href="#" class="dropdown-item">Nothing else.</a>


                    <div class="dropdown-divider"></div>
                    <div class="dropdown-content">
                        <form action="..." method="...">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email address" required="required">
                                <input type="password" class="form-control" placeholder="Password" required="required">

                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Content wrapper -->
    <div class="content-wrapper">
        ...
    </div>
</div>
